/* fonts */

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  border: 2px solid red;
  width: 100%;
  padding: 0 15px;
  background: black;
}

.header__img {
  width: 89px;
  height: 26px;
  border: 1px solid blue;
}

.header__ul {
  list-style: none;
  padding-right: 20px;
  color: white;
}

/* section 1 */

.section1 {
  border: 2px solid purple;
  padding: 180px 15px 30px 15px;
  background: rgb(80, 155, 245);
  color: white;
  height: 50vh;
}

.section1__h1 {
  font-size: 48px;
}

.section1__h2 {
  font-size: 24px;
}

.section1__button {
  width: 100%;
  background: rgb(29, 185, 84);
  display: flex;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.section1__p {
  font-size: 14px;
}

/* section 2 */

.section2 {
  background: white;
  text-align: center;
  font-size: 32px;
  padding-bottom: 30px;
}

.section2__icon {
  width: 89px;
  margin-right: 15px;
}

.section2__container {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 15px;
}

.section2_h2 {
  margin: 0px;
  padding: 0px;
  font-size: 21px;
  text-align: left;
}

.section2__p {
  font-size: 16px;
  text-align: left;
}

/* footer */

.footer {
  border: 1px solid orange;
  color: white;
  background: black;
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}

.footer__ul {
  display: flex;
  border: 1px solid red;
  list-style: none;
  flex-wrap: wrap;
  font-size: 12px;
  padding-left: 15px;
  width: 60%;
  position: relative;
  bottom: -50px;
}

.footer__ul__li {
  padding: 7px 15px 7px 0px;
}

.footer__div {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  font-size: 12px;
  padding-right: 15px;
}

.footer__div__country {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__flag {
  width: 24px;
  height: 18px;
  padding-left: 15px;
}
