@import "core/settings";
@import "core/links";
@import "layout/header";
@import "layout/main-section";
@import "layout/secondary-section";
@import "components/buttons";

body {
  background: url("../images/logo-adalab-80px.png") center center no-repeat
    $color-white;
  margin: 0;
  height: 100vh;
}

header {
  color: red;
  border: 2px solid green;
}
