<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body>
    <header class="header">
      <img class="header__img" src="../assets/images/logo.png" />
      <nav>
        <ul class="header__ul">
          <li>Premium</li>
          <li>Ayuda</li>
          <li>Descargar</li>
          <li>Registrarse</li>
          <li>Iniciar sesión</li>
        </ul>
      </nav>
    </header>

    <section class="section1">
      <h1 class="section1__h1">Prueba premium gratis 3 meses</h1>
      <h2 class="section1__h2">Escucha millones de canciones sin anuncios, a la carta y sin conexión</h2>
      <a class="section1__button" href="">VER PLANES</a>

      <p class="section1__p">Rigen términos y condiciones. Los 3 meses gratis no están disponibles para usuarios que ya hayan probado Premium.</p>
    </section>

    <section class="section2">
      <h1>¿Por qué pasarte a Premium?</h1>

      <div>
        <div>
          <img class="section2__icon" src="../assets/images/benefit-1.png" />
        </div>
        <div>
          <h2>Descarga música</h2>
          <p>Llévala siempre contigo</p>
        </div>
      </div>

      <div>
        <div>
          <img class="section2__icon" src="../assets/images/benefit-2.png" />
        </div>
        <div>
          <h2>Sin anuncios</h2>
          <p>Disfruta de música sin interrupciones</p>
        </div>
      </div>

      <div>
        <div>
          <img class="section2__icon" src="../assets/images/benefit-3.png" />
        </div>
        <div>
          <h2>Escucha lo que quieras</h2>
          <p>Incluso en el móvil</p>
        </div>
      </div>

      <div>
        <div>
          <img class="section2__icon" src="../assets/images/benefit-4.png" />
        </div>
        <div>
          <h2>Salta todas las canciones que quieras</h2>
          <p>Simplemente dale a siguiente</p>
        </div>
      </div>
    </section>

    <footer>
      <nav>
        <ul>
          <li>Legal</li>
          <li>Cookies</li>
          <li>Información sobre los anuncios</li>
        </ul>
      </nav>

      <div>
        <p>España</p>
        <img src="../assets/images/flag.svg" />
        <p>&copy 2019 Spotify AB</p>
      </div>
    </footer>
  </body>
</html>
